<mat-toolbar color="primary">
    <span class="toolbar">Novo Usuário</span>
</mat-toolbar>
<div class="separator"></div>
<form class="example-form">
    <!-- input Nome -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome Completo">
    </mat-form-field>

    <!-- input email -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="e-mail">
    </mat-form-field>

    <!-- input telefone -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefone">
    </mat-form-field>

    <!-- cep -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="CEP">
    </mat-form-field>

    <!-- endereço -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Endereço">
    </mat-form-field>

    <!-- cria usuario -->
    <!-- Usuario -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Usuario">
    </mat-form-field>

    <!-- Senha -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Senha">
    </mat-form-field>

    <!-- Confirma Senha -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirma Senha">
    </mat-form-field>

    <!-- buttons -->
    <div class="button-row">
        <button mat-raised-button color="primary">Cancelar</button>
        <button mat-raised-button color="primary">Salvar</button>
    </div>
</form>